.job-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  height: 100%;
  overflow: hidden; /* Hide default scrollbar */
}

/* Custom scrollbar hiding */
.flex-grow::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flex-grow {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.job-header {
  display: flex;
  align-items: center;
  margin-bottom: -25px; /* Space below the header */
  margin-left: 15px;
  margin-top: -25px;
}

.text-details {
  flex-grow: 1;
  margin-right: 0px; /* Space between text details and logo */
  white-space: nowrap; /* Prevent wrapping */
}

.job-header h2 {
  font-size: 20px;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
  white-space: nowrap; /* Prevent wrapping */
}

.job-header h3 {
  margin: 0;
  font-size: 18px;
  color: #555555;
}

.job-header p {
  margin: 4px 0;
}

.company-logo img {
  width: 170px; /* Adjust size as needed */
  height: 170px; /* Adjust size as needed */
  border-radius: 50%;
  object-fit: cover;
}

.job-details {
  margin-top: 0; /* Ensure job details are close to the job location */
  margin-left: 15px; /* Align with other sections */
  margin-right: 15px;
}

.job-details h4 {
  margin-bottom: 8px;
  font-size: 18px;
  color: #333;
}

.job-details p {
  margin-bottom: 4px;
  font-size: 16px;
  color: #555;
}

.job-details ul {
  padding-left: 20px;
}

.job-details li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.skill-tag {
  background-color: #2563EB;
  border-radius: 9999px;
  padding: 4px 8px;
  margin: 4px;
  font-size: 14px;
  color: #ffffff;
}

.job-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.reject-button,
.accept-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.reject-button {
  background-color: #ff6b6b;
  color: #fff;
}

.accept-button {
  background-color: #4caf50;
  color: #fff;
}

.icon {
  font-size: 20px;
}
